<!DOCTYPE html>
<html>
  <head>
    <title>Image Abstraction Layer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/styles.css"
  </head>
  <body>
    <div class="container">
	    <div class="row">
		    <div class="col-md-8 col-md-offset-2">
			    <header class="text-center">
				    <h1>FreeCodeCamp API Basejump #4</h1>
		        <h2>Image Abstraction Layer</h2>
			    </header>
		 
	        <p><strong>Instructions:</strong> Wikipedia defines an abstraction layer as "an application programming interface which unifies the communication between a computer application and databases."</p>
	        
	        <p>Further info on this Basejump is at the <a href="http://www.freecodecamp.com/challenges/image-search-abstraction-layer" target="_blank">FreeCodeCamp site</a></p>
	        
	        <p>There are two pages of data returned in JSON format you can view in this app.</p>
	        
	        <ul>
	          <li>Search Google image databases by putting a forward slash after the homepage URL and your search term(s). You will get a list of images that match the term. Add <strong>?offset=</strong> and a number if you want to paginate results.</li>
	          <li>Add  <strong>latest/imagesearch</strong> after the homepage URL to get a list of the 10 most recent searches and terms.</li>
	       </ul> 
		  </div>
	  </div>		 
	</div>	<!-- container -->
  </body>
</html>